<link rel="stylesheet" href="/CSS/login.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Raleway&display=swap" rel="stylesheet">


<div class="container">
    <form action="/users/login" method="post" class="form-card">
        <div class="title form-text">
            ACCOUNT LOGIN
        </div>
        <label for="username" class="form-text">username</label>
        <input type="text" value="" name="username">

        <div class="form-password">
            <label for="password" class="form-text">password</label>
            <input type="text" name="password">
        </div>

        <input type="submit" value="Login" class="form-text login-btn">

        <div class="form-text footer-text">
            <a href="" class="footer-text">forgot password?</a>
        </div>
    </form>
</div>